-- window splits
bind | split-window -h
bind - split-window -v

-- ?
unbind '"'
unbind %

-- pane navigation
bind h select-pane -L
bind l select-pane -R
bind k select-pane -U
bind j select-pane -D

-- pane resizing
bind -r Left resize-pane -L
bind -r Right resize-pane -R
bind -r Up resize-pane -U
bind -r Down resize-pane -D

-- close all
bind X confirm-before kill-session

-- hiding and showing panes
bind ! break-pane -d
bind @ join-pane -s $.0
